body {
  background-color: #18091AEC;
}
/*Вся навигационная панель*/
.box-0 {
  margin: 1rem;
}
/*Вход*/
.box-3-1,
.box-3-2 {
  margin: 0px 0px 5px 0px;
}
/*Заголовок(Калькулятор личных финансов)*/
.text {
  color: #FFF4F4FF;
}
.box-text {
  margin: 5rem 0px 0px 0px ;
}
/*Таблица*/
.box-tablo {
  border: 2px solid #000;
}
