// Весь сайт
body {
	background-color: #18091AEC;
}
/*Вся навигационная панель*/
.container{
	// background-color: #C1EFCAEC;
}
.box-0{
	margin: 1rem;
}
/*Инструкция модальное окно*/
.Title{
	padding: 1rem;
	text-transform: uppercase;
	text-align: center;
}
/*Верх модального окна*/
.modal-title{
	text-align: center;
}
/*Низ модального окна*/
.modal-footer{
	text-align: left;
}
.cls{
	text-align: right;
}
/*Вход*/
.box-3-1, .box-3-2 {
    margin: 0px 0px 5px 0px;
}
/*Заголовок(Калькулятор личных финансов)*/
.text{
	color: #FFF4F4FF;
	margin: 7rem 0px 2rem 0px; 
	text-align:center;
}
/*Таблица*/
.table{
	background-color: #BBFFEE;
	transition: all 0.5s;
		cursor: pointer;
		text-align: center;
}
/*Прозрачность при наведении*/
.str{
text-transform:capitalize;
cursor: pointer;
position: relative;
text-decoration: none;
}
.str:after{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background-color: #FFFF00FF;
	transition: width 0.5s;
}
.str:hover:after{
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 3px;
	background-color: #FF51BFFF;
	transition: width 0.8s;
}


table, td {
    border: 2px solid black;
    text-align: center;
    margin: 1rem;
}
