body {
  background-color: #CFB53B;
}
/*самый верх*/
.box-0 {
  margin-top: 1rem;
}
/*Кнопка верх*/
.btn-w {
  color: #FF51BFFF;
  background-color: #77DD77;
}
/*Для навигационной формы*/
.nav-w {
  margin-top: 5rem;
  text-align: center;
}
/*Прямоугольный треугольник*/
.rectangular {
  margin-top: 7rem;
}
.form-1 {
  padding-top: 8rem;
}
/*Равнобедренный треугольник*/
.isosceles {
  margin-top: 5rem;
}
.form-2 {
  padding-top: 12rem;
}
/*Равносторонний треугольник*/
.equal {
  margin-top: 5rem;
}
.all {
  height: 180px ;
  width: 170px ;
}
.form-3 {
  padding-top: 11rem;
}
