body {
background: #DEF7FE;
}
/*Вся навигационная панель*/

.box-2 {
margin: 1rem;

}
.box-1 {
  margin: 1rem;
  color: #000000
  background: #ff7514;

}
/*Инструкция модальное окно*/
.Title {
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
}
/*Верх модального окна*/
.modal-title {
  text-align: center;
}
/*Низ модального окна*/
.modal-footer {
  text-align: left;
}
.cls {
  text-align: right;
}
/*Цвета кнопок*/
.lr1 {
background: #FF7514;

}
.ot {
background: #FF7514;

}
/*Текст*/
.hi {
  margin-top:  2rem;
  text-align: center;
  color: #333
}
/*Фото я*/ 
.photo-2 {
align-items: center;
  float: left;
margin-top:  5rem;
margin-left: 50rem;
display: inline-block;
}

.leftimg {
  float: left;
margin-top:  5rem;
margin-left: 50rem;
display: inline-block;
}
.rightimg {
float: right;
display: inline-block;
margin-top: 5rem;
margin-right: 10rem;

}
/*таблица*/
.tb {
  
  width: 10rem;
  width: 10rem;
  color: #000000
}
.dwath {
  color: #fff
}
